.main-weather {
    display: flex;
    justify-content: space-between;
    @include media-tablet() {
        flex-direction: column;
    }
}

.wrapperForWeather {
    display: flex;
    flex-direction: column;
}

.today {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.today__city {
    font-size: 32px;
    padding: 20px 0 5px 0;
}

.today__news {
    position: absolute;
    right: 90px;
    top: 5px;
    cursor: pointer;
}

.today__volume {
    position: absolute;
    right: 40px;
    top: 5px;
}

.today__speak {
    background: url('../assets/img/collect-google.png');
    width: 40px;
    height: 31px;
    position: absolute;
    right: 0;
    background-position-x: center;
    background-position-y: 31px;
    background-size: 33px;
    top: 0;
    cursor: pointer;
    &:hover {
        animation: 0.5s infinite alternate opacity;
    }
}

.today__date-time {
    font-size: 25px;
    padding-bottom: 15px;
    display: flex;
    .current-time {
        padding: 0 30px;
    }
    @include media-mobiles-big() {
        flex-direction: column;
    }
}

.today__weather {
    display: flex;
    position: relative;
    @include media-tablet() {
        justify-content: space-around;
    }
    @include media-mobiles-big() {
        flex-direction: column;
    }
}

.today__temp {
    font-size: 170px;
    display: block;
    @include media-tablet() {
        position: relative;
        z-index: 4;
    }
    @include media-mobiles-big() {
        position: relative;
        z-index: 4;
    }
}

.today__image {
    height: 140px;
    width: 140px;
    background-color:#ffffff61;
    border-radius: 30%;
    @include media-tablet() {
        position: absolute;
        z-index: 5;
    }
    @include media-mobiles-big() {
        position: absolute;
        right: 0;
        z-index: 2;
        top: -50px;
    }
}

.today__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: black 0 0 3px;
    white-space: nowrap;
    padding: 15px;
    align-self: center;
}

.tothreedays {
    display: inline-flex;
    @include media-tablet() {
        justify-content: space-around;
    }
    @include media-mobiles-big() {
        flex-direction: column;
        margin: auto;
        > * {
            padding: 10px;
        }
    }
}

.tothreedays-tomorrow {
    position: relative;
    display: flex;
    padding-right: 30px;
}

.today__description {
    font-size: 25px;
    position: relative;
    z-index: 6;
}

.tomorrow-image {
    background-color: #ffffff61;
    border-radius: 30%;
}

.tomorrow-day {
    text-shadow: black 0 0 3px;
    position: absolute;
    font-size: 25px;
}

.tomorrow-temp {
    display: flex;
    align-self: center;
    text-shadow: black 0 0 3px;
    font-size: 45px;
}

.news__block {
    width: 410px;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 10px;
    overflow: scroll;
    right: calc(50% - 205px);
    background: #5f9ea0d9;
    z-index: 20;
    @extend %custom-scroll;
}

.news_wrapper {
    margin: 30px 0;
}

.news__close {
    position: fixed;
    cursor: pointer;
}

.news__image {
    width: 100%;
}
