.wrapper {
    width: 1200px;
    margin: auto;
    @include media-tablet() {
        width: 768px;
    }
    @include media-mobiles-big() {
        max-width: 414px;
    }
}

.weather {
    color: white;
    position: relative; // new
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 10px;
    background: rgba(7, 7, 7, 0.633);
    padding: 10px;
    width: 100%;
}

.weather-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    @include media-tablet() {
        height: 100%;
        width: initial;
    }
}

.weather-image-height {
    position: absolute;
    z-index: -1;
    width: 100%;
    @include media-tablet() {
        width: 100%;
    }
    @include media-mobiles-big() {
        height: 100%;
        width: initial;
    }
}

.weather-default {
    position: absolute;
    z-index: -2;
    width: 100%;
    @include media-tablet() {
        height: 100%;
        width: initial;
    }
}
